
.wrapTitle {
    min-height: 100px;
    background: #f2f2f2;
  }
  .wrapTitle .traffic-home-contain {
    display: flex;
  }
  .wrapTitle .traffic-home-contain .titlePages {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #484848;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0 20px;
  }
  .wrapTitle .traffic-home-contain {
    display: flex;
  }
  .traffic-home-contain .counter-title {
    font-size: 14px;
    line-height: 22px;
    color: #777;
  }
  .traffic-home-contain .counter-time {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    color: #c00;
  }
  .traffic-home-contain .counter {
    text-align: right;
    margin: 20px 0 20px;
    /* text-align: center; */
  }
  .traffic-home-contain .counter-access {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    color: #157fcc;
  }
  .traffic-home-contain .counter-online {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    color: #75a940;
  }
  .container {
    margin: 20px auto;
    max-width: 95%;
  }
  .container .slide {
  }
  .container .news {
  }
  .container .slide img {
    width: 100%;
  }
  #divDashboard {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .tracuuCONGTRINH h4 {
    background-image: url("/assets/image/search/bg_tracuucongtrinh.png");
    background-repeat: no-repeat;
    padding-top: 200px !important;
  }
  .tracuuGIAYPHEPLUUTHONG h4 {
    background-image: url("/assets/image/search/bg_tracuugiayphep.png");
    background-repeat: no-repeat;
    padding-top: 200px !important;
  }
  
  .tracuuPHUHIEU h4 {
    background-image: url("/assets/image/search/bg_tracuuVipham.png");
    background-repeat: no-repeat;
    padding-top: 200px !important;
  }
  .tracuuBAOCAO h4 {
    background-image: url("/assets/image/search/bg_tracuubaocao.png");
    background-repeat: no-repeat;
    padding-top: 200px !important;
  }
  .tracuuHOPDONG h4 {
    background-image: url("/assets/image/search/bg_tracuuhopdong.png");
    background-repeat: no-repeat;
    padding-top: 200px !important;
  }
  .tracuuGIAYPHEPLAIXE h4 {
    background-image: url("/assets/image/search/bg_tracuugiayphep.png");
    background-repeat: no-repeat;
    padding-top: 200px !important;
  }
  .tracuuVIPHAM h4 {
    background-image: url("/assets/image/search/bg_tracuuhopdong.png");
    background-repeat: no-repeat;
    padding-top: 200px !important;
  }
  h4 {
    font-weight: 500;
  
    cursor: pointer;
    font-size: 20px;
    background-position: center;
  
  }
  .wrapWhiteBox {
    width: 320px;
    background: #fff;
    border: 1px #eceeef solid;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
  }
  .bgGray {
    background: #f2f2f2;
  }
  .bgGray img {
    width: 80%;
    margin: 0px auto;
  }
  
  #Partners {
    padding: 50px 0px 0px 20px;
  }
  #Partners .footer {
    height: 250px;
    position: relative;
    padding-top: 50px;
    background: #f2f2f2;
  }
  .client-list {
    flex-direction: row;
    display: flex;
    margin: 20px 0px 0px 10px;
    padding: 0;
  }
  .client-list li {
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  .client-logo:hover {
    opacity: 0 !important;
  }
  .logo-hover {
    position: absolute;
  }
  
  .contact {
    position: absolute;
    padding-top: 20px;
    bottom: -15px;
    right: 20px;
  }
  .contact i {
    font-size: 24px;
    padding: 20px 10px;
    cursor: pointer;
    opacity: 0.5;
  }
  .contact i:hover {
    font-size: 28px;
    padding: 16px 10px;
    cursor: pointer;
    opacity: 1;
  }
  .fa-facebook {
    color: blue;
  }
  .fa-twitter {
    color: rgb(68, 136, 226);
  }
  .fa-google {
    background: conic-gradient(
        from -45deg,
        #ea4335 110deg,
        #4285f4 90deg 180deg,
        #34a853 180deg 270deg,
        #fbbc05 270deg
      )
      73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .fa-envelope {
    background: conic-gradient(
        from -45deg,
        #ea4335 130deg,
        #fbbc05 100deg,
        #4285f4 180deg,
        #34a853 180deg 270deg
      )
      73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  i .email {
    width: 29px;
    padding-bottom: 5px;
  }
  i .email:hover {
    width: 32px;
    padding-bottom: 5px;
  }
  /* clock */
  .containerclock {
    height: 10px;
    width: 200px;
  }
  
  #min {
    background: red;
  }
  
  #sec {
    background: blue;
  }
  
  #hour {
    background: silver;
  }
  
  #container {
    width: 300px;
    height: 30px;
    border: 1px solid green;
  }
  
  p {
    display: inline;
  }
  .news .item{
    padding: 15px 0px;
  }